html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* poppins-italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
  }
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* ruthie-regular - latin */
@font-face {
    font-family: 'Ruthie';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ruthie-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ruthie-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ruthie-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ruthie-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ruthie-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ruthie-v13-latin-regular.svg#Ruthie') format('svg'); /* Legacy iOS */
  }
  /* poppins-500italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/poppins-v15-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-500italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-500italic.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }
  body{
      font-family: 'Poppins';
      font-size: 16px;
      font-weight: normal;
      line-height: 1.2;
      font-style: normal;
      color: #000;
      background: #000;
  }
img{
    max-width: 100%;
    height: auto;
}
/*.wrapper_lg{
    max-width: 1920px;
    margin: 0 auto;    
}*/
.wrapper{
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
}
.header_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;
    padding-top: 113px;
   position: relative;
    max-width: 1620px;
    margin: 0 auto;
    padding-left: 15px;
    
}
.header_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.header_list li{
    margin-top: 45px;
    font-family: 'Poppins';
}
.header_list li:last-child{
    margin-right: 270px;
}
.header_list li a{
    font-size:20px ;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}


.header_burger{
    display: none;
    width: 14px;
    height: 15px;
    position: relative;
    margin-bottom: 45px;
}

.burger_line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger_line_first{
    top: 0;
}

.burger_line_second{
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50%;
    left: 50%;
}

.burger_line_third{
    bottom: 0;
}
/* Header styles end */



/* Intro styles start */
.intro{
    background: url(../img/header_img.gif) no-repeat ;
    background-size: 100%;
    padding-bottom: 330px;
    background-position-y: 30%;
    
}
.intro_cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;
}
.intro_text{
    padding-top: 336px;
    max-width: 767px;
}
.main_caption{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 97%;
    color: #fff;
}

.studio, .service, .work{
    background-color: #ECEAEA;;
}
.all_caption{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;

}
.studio_caption{
    padding: 120px 0;
    border-bottom: 3px black solid;
    margin-bottom: 98px;
}
.caption_name{
    
    font-size: 190px;
    line-height: 285px;
    text-transform: lowercase;
    display: block;
}
.number_section{
    font-family: Ruthie;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    text-transform: uppercase;
}
.studio_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;
    margin-bottom: 88px;
}
.cont_part1{
    max-width: 663px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
}
.cont_part2{
    max-width: 762px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.studio_data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;
    padding-bottom: 47px;    
}
.studio_img{
    width: 503px;
    margin: 0 auto;
}
.line1, .line2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.line1{
    margin-bottom: 75px;
    margin-top: 32px;
}
.studio_count p{
    font-family: Poppins;
  
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.count{
    font-style: italic;
}
.service{
    padding-bottom: 159px;
}
.service_caption{
  padding-top: 147px;
    margin-bottom: 98px;
}
.service_img{
    position: relative;
}
.service_img img{
    max-width: 536px;
    margin: 0 auto;
    position: absolute;
    top: -50%;
    width: 100%;
    
}
.service_data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px; 
    padding-bottom: 250px;  
}
.service_content p{
    font-size: 45px;
    line-height: 50px;
    position: relative;
}
.service_content span{
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #3F3E3E;
    padding-right: 250px;
 
}
.service_list{

    padding-bottom: 112px;
    height: 825px;
    position: relative;
    
}
.service_item_name{
    
    margin-bottom: 62px;
}
.service_item_img{
    position: relative;

}
.service_item_img img{
    width: 775px;
    margin: 0 auto;
}
.item_number{
    font-family: Ruthie;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    display: inline;
    vertical-align: top;
}
.item_name{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    align-items: center;
    color: #B0B0B0;
    padding-left: 28px;
    padding-right: 32px;
    padding-bottom: 20px;
    display: inline;
    margin-bottom: 42px;
}
.service_img_item{
    display: none;
}
.service_item_name{
    width: max-content;
}

.service_img_item{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 774px;
    object-fit: cover;
    width: 100%;
   
}

/* skills */

.skills_caption{
    color: white;
    padding: 120px 0;
    border-bottom: 3px white solid;
    margin-bottom: 128px;

}
.skills_caption_name{
    font-size: 190px;
    line-height: 225px;
    text-transform: lowercase;
    padding-left: 20px;
    
}
.skills_caption_left-part{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
.skills_caption_text{
    font-size: 25px;
    line-height: 37px;
    max-width: 753px;
    padding-top: 33px;
}

/*carousel start*/
.owl-carousel .owl-item img{
    width: auto;
}



  .carousel-item-next{
    cursor: pointer;
    padding-right: 163px;
    margin-bottom: 170px;
     
  }
  
  .next_skills{
    text-align: right;  
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    
  }

   
  .next_skills_line{
      margin: 0 14px;
      display: inline-block;
      width: 120px;
      border-bottom: 1px solid white ;
  }
 
  /*work start*/
  .work_caption{
      padding: 149px 0;
      border-bottom: 3px black solid;
      
  }
  .work_caption .caption_name{
      text-align: right;
  }
  .work{
      padding-bottom: 150px;
  }
  .work_example{
      padding: 147px 0;
      border-bottom: 3px black solid;
      position: relative;
  }
  .work_content{
   position: relative;     
  }
  .work_content img{
      display: block;
      margin-left: 27%;
      max-width: 55%;
      
  }
  .work_name{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -60px;
    font-size: 60px;
    line-height: 90px;
  }
  .work_description{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }
  .work_date{
    position: absolute;
    bottom: 0;
    left: 0; 
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px; 
  }
  .work_link{
      position: absolute;
      right: 0;
      bottom: 0;
  }
  .work_link a{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    

  }
  .work_link_line{
    margin: 0 14px;
    display: inline-block;
    width: 120px;
    border-bottom: 1px solid #000 ;
    

  }
 
/*footer*/
.contact_form{
    background: url(../img/header_img.gif) no-repeat;
    background-size:cover;
    background-position-y: 50%;
    color: #fff;
    padding-top: 145px;
}
.contact_form_caption{
    font-size: 100px;
    line-height: 130px;
    margin: 0 150;
    text-indent: 4em;

}
.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;

}
.email, .phone{
font-weight: 300;
font-size: 18px;
line-height: 130%;
}
.email_form{
    margin-bottom: 34px;
}
.write_to_us a{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:left;
    padding-top: 10px;
   text-decoration: none;
    max-width: 538px;
    color: #DA1C1C;
         
}
.write_to_us p{
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    width: 295px;
    padding-bottom: 11px;
    border-bottom: 1px solid #DA1C1C;
    margin-right: 30px;
}

.phone_to_us{
    margin-top: 34px;
    margin-bottom: 195px;
}
.phone_to_us a{
    text-decoration: none;
    max-width: 538px;
    color: #fff; 
}
.phone_to_us p{
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    width: 295px;
    padding-bottom: 11px;
    border-bottom: 1px solid #fff;
    margin-right: 30px; 
}

/* portfolio page */

.portfolio_page{
    padding-top: 153px;
    color: #FFFFFF; 
}
.portfolio_title{
    padding-top: 188px;
    font-size: 100px;
    line-height: 150px;
    /* identical to box height */
    
    text-transform: capitalize;
    padding-bottom: 63px;
    
}

.grid_content{
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr;
    
    margin-bottom: 112px;
}
.subtitle{
    font-size: 16px;
line-height: 24px;

}
.description{
    font-size: 16px;
    line-height: 24px;  
}
.project_date{
    font-family: Ruthie;
    font-size: 35px;
    line-height: 44px;
    /*text-align: right; */
    justify-self: end; 
}
.view_project{
    display: grid;
    grid-template-columns: 1fr 5fr;
    row-gap: 111px;
    margin-bottom: 112px;
    margin-bottom: 124px;
   
}
.number{
    font-family: Ruthie;
    font-size: 35px;
line-height: 44px;
}
.view{
    font-size: 50px;
line-height: 75px;
}
.view_img{
    grid-column: 1/6;
}
.more{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.more_caption{
    font-size: 150px;
    line-height: 150px;
    padding-bottom: 115px;
text-transform: lowercase;
}
.more_links{
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.5fr 1fr;
    padding: 28px 0;
    align-items: center;
    grid-template-rows: minmax(53px, auto);

}
.more_project_link{
 color: #C8C6C6;
 text-decoration: none;
}
 
.more_links_date{
    
font-family: Ruthie;

font-size: 20px;
line-height: 25px;

text-transform: uppercase;
    
}
.more_links_name{
    font-size: 25px;
line-height: 37px;
text-transform: uppercase;
}

.more_links img{
    
   
    opacity: 0;
}
.more_links_description{
    font-size: 20px;
line-height: 30px;
text-align: right;
text-transform: capitalize;
}
.more_links:hover{
    color: #DA1C1C;
    border-top: solid 1px #313131;
    border-bottom: solid 1px #313131;
    
}

@media screen and (min-width: 1024px) {
    .owl-stage{
        height: 250px;
    }
    .owl-carousel {
        overflow: visible;
        overflow-x: hidden;
        margin-bottom: 30px;
      
    }
    .carousel-item{
    padding-right: 35px;
    }
    .carousel-item_in {
        background: #000;
        text-align: center;
        cursor: grab;
        margin-right: 35px;
        width: max-content;
        /*width: 213px;*/
        /*height: 213px;*/
    }
    .cool_item{
        position: relative;
    }
   
    .cool_item:after {
        content: url(../img/courser_cool.png);
        position: absolute;
        max-inline-size: 70px;
        height: 70px;
        bottom: -35px;
        right: -35px;
        z-index: 9;
    }
    
    .header_list li:hover, .header_list li:active, .header_list li:focus{
        opacity: .75;
        text-decoration: none;
        color: #fff;
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
    }
    .carousel-item-next:hover{
        opacity: .25;
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
    }
    
    
    .next_skills:hover{
        opacity: .95;
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
  
    }
    .work_link a:hover {
        color: #DA1C1C; 
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
     
       }
       .work_link a:hover .work_link_line{
         border-bottom: 1px solid #DA1C1C ;
         -webkit-transition: all 0.3s ease;;
         -moz-transition: all 0.3s ease;;
         -o-transition: all 0.3s ease;;
         transition: all 0.3s ease;
       }
       .work_link a:hover::after{
           content: url(../img/courser_view.png);
           position: absolute;
           top: 15px;
           left: 123px;
           -webkit-transition: all 0.3s ease;;
           -moz-transition: all 0.3s ease;;
           -o-transition: all 0.3s ease;;
           transition: all 0.3s ease;
        }
        .write_to_us img:hover{
            -webkit-transform: rotateZ(360deg);
            -ms-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
            -webkit-transition: all 0.5s ease;;
            -moz-transition: all 0.5s ease;;
            -o-transition: all 0.5s ease;;
            transition: all 0.5s ease;
        }
        
        
        .more_links:hover img{
            opacity: 1;
            -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
        } 

}
@media screen and (min-width: 768px) {
    .service_item_name:hover .item_name{
        color: #000;
        background: url(../img/courser.png) no-repeat bottom right;
    }
    .service_item_name:hover .service_img_item{
        display: block;
    }

}
@media screen and (max-width: 1800px) and (min-width:1024){
    .service_caption .caption_name{
        font-size: 145px;
        line-height: 217px;
    }
}
@media screen and (max-width: 1800px) {
    .wrapper{
        padding: 0 50px;
    }
   .header_logo {
    
    margin-left: 50px;
}
.header_list li {
    margin-top: 10px;
    
}
.header_list li:last-child{
        margin-right: 180px;
    }
    
    .header_wrapper {
        align-items:flex-start;
        column-gap: 50px;
    }
    .main_caption {
        font-size: 75px;
    }
    .intro_text {
        padding-top: 292px;
    }
    .intro{ 
       padding-bottom: 262px;
    }
    .intro_cont{
        column-gap: 50px;
    }
    .caption_name {
        font-size: 160px;
        line-height: 240px;
    }
    .all_caption{
        column-gap: 50px;
    
    }
    .studio_caption {
        padding: 90px 0;
        margin-bottom: 73px;
    }
    .studio_content{
       
        column-gap: 50px;
      
    }
    .studio_data{
        
        column-gap: 50px;
           
    }
    .cont_part1 {
    font-size: 25px;
    line-height: 37px;
    }
    .cont_part2 {
        font-size: 16px;
        line-height: 24px;
    }
    .service_caption {
        padding-top: 110px;
        margin-bottom: 83px;
    }
  
    .service_content span {
        padding-right: 150px;
    }
    .service_data {
        padding-bottom: 125px;
        column-gap: 50px; 
        
    }
    .service_list {
        padding-bottom: 190px;
        
        
    }
    .item_name {
    font-size: 35px;
    line-height: 111%;
    }
    .service_img_item {
        
        max-width: 48%;
        object-fit: cover;
        width: 100%;
    }
    
    .skills_caption {
        padding: 109px 0 96px 0;
        margin-bottom: 83px;
    }
    .skills_caption_name {
        font-size: 160px;
        line-height: 190px;
        text-transform: lowercase;
        padding-left: 20px;
    }
    .skills_caption_text {
        font-size: 16px;
        line-height: 24px;
        max-width: 753px;
        padding-top: 33px;
    }
    
    .carousel-item-next {
        text-align: right;
        padding-top: 20px;
        padding-right: 35px;
        margin-bottom: 127px;
    }
    
    .work_caption {
        padding: 111px 0;
        
    }
    .work_example {
        padding: 110px 0;
        
    }
    
    .work_link a {
    font-size: 18px;
    line-height: 27px;
    }
    
    .work_content img {
        max-width: 650px;
    }
    .contact_form_caption {
        font-size: 80px;
        line-height: 130%;
    }
    .button_write_to_us{
        max-width: 85px;
    }
    
    
}

/*@media screen and (max-width: 997px) {
    
    
}*/
@media screen and (max-width: 1600px) {
    .service_list{
        height: 650px;
    }
 
}
@media screen and (max-width: 1200px) {
    .service_list{
        height: 550px;
    }
    .owl-carousel {
        margin-bottom: 0;
    }
    .service_img img {
        top: -30%;
    }
 
}

@media screen and (max-width: 1023px) {
    .wrapper{
        padding: 0 15px;
    }
    .header_logo{
        margin-bottom: 45px;
        max-width: 70px;
        margin-left: 0;
    }

    .intro_cont {
        display: block;
        padding-left: 256px;
    }
    .intro_text {
        padding-top: 204px;
    }
    .main_caption {
        font-size: 60px;
        line-height: 97%;

    }
    .number_section {
        font-size: 25px;
        line-height: 31px;
    }
    .caption_name {
        font-size: 100px;
        line-height: 150px;
    }
    .all_caption{
        column-gap: 30px;
    
    }
    .studio_caption {
        padding: 45px 0;
        margin-bottom: 42px;
    }
    .studio_data{
        
        column-gap: 30px;
           
    }
    
    .cont_part1 {
        font-size: 20px;
        line-height: 30px;
    }
    .cont_part2 {
        font-size: 14px;
        line-height: 21px;
    }
    .service_caption {
        padding-top: 77px;
        margin-bottom: 62px;
    }
    .service {
        padding-bottom: 80px;
    }
    .service_img img {
        top: -160px;
    }
    .service_content span {
        font-size: 14px;
        line-height: 21px;
        padding-right: 70px;
    }
    .service_content p{
        font-size: 30px;
        line-height: 111%;
    }
    .service_data {
        padding-bottom: 125px;
        column-gap: 30px; 
        
    }
    .service_list {
        padding-bottom: 80px;
        height: 373px;
        
    }
    .item_name {
    font-size: 30px;
    line-height: 111%;
    padding-left: 5px;
    }
    
    .skills_caption {
        padding: 109px 0 31px 0;
        margin-bottom: 40px;
    }
    .skills_caption_name {
        font-size: 100px;
        line-height: 150px;
        
    }
    .skills_caption_text {
        font-size: 16px;
        line-height: 24px;
        max-width: 753px;
        padding-top: 33px;
    }
    
    .carousel-item-next {
        text-align: right;
        padding-right: 0;
        margin-bottom: 50px;
    }
    .work {
        padding-bottom: 105px;
    }
    .work_caption {
        padding: 60px 0;
        
    }
    .work_example {
        padding: 55px 0;
        
    }
    
    .work_link a {
        font-size: 12px;
        line-height: 18px;
    }
    .work_link_line {
        width: 22px;
        margin: 0 9px 3px 9px;
    }
    .work_content img {
        max-width: 55%;
    }
    
    .work_name {
        margin-top: -35px;
        font-size: 35px;
        line-height: 52px;
    }
    .work_description {
        font-size: 12px;
        line-height: 18px;
    }
    .work_date {
        font-size: 12px;
        line-height: 18px;
    }
    .contact_form {
        padding-top: 58px;
    }
    .contact_form_caption {
        font-size: 40px;
        line-height: 130%;
        margin: 0 129px;
        
    text-indent: 2em;
    }
    .form {
       
        padding-top: 30px;
    }
    .button_write_to_us{
        display: none;
    }
    .write_to_us p {
        width: 235px;
    }
    .phone_to_us p{
        width: 235px;
    }
    .service_img img{
        top: -100px;
        
    }
   /* .service_img_item{
       max-width: 48%;
       
    }*/
    .header_nav_all{
        position: absolute;
        top: 30px;
        right: 15px;
    }
    .header_burger {
        display: block;
    }
    .header_wrapper {
        padding-top: 28px;
        column-gap: 30px;
    }
    .header_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
    }
    .header_nav_active{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .header_list li{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_list li:last-child{
        margin-bottom: 0;
    }
    .header_list li{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }
    .header_nav-close-line:first-child{
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }
    .header_nav-close-line:last-child{
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }
    /* portfolio page */

.portfolio_page{
    padding-top: 35px;
   
}
.portfolio_title{
    padding-top: 53px;
    font-size: 50px;
line-height: 75px;
     padding-bottom: 52px;
    
}

.grid_content{
   
    
    margin-bottom: 112px;
}
.subtitle{
    font-size: 18px;
line-height: 27px;

}
.description{
    font-size: 16px;
    line-height: 24px;  
}
.project_date{
    
    font-size: 18px;
    line-height: 22px;
   
}
.view_project{
  
    row-gap: 53px;
    
    margin-bottom: 64px;
   
}
.number{
   
    font-size: 25px;
line-height: 32px;
}
.view{
    font-size: 30px;
line-height: 45px;
}

.more_caption{
    font-size: 70px;
    line-height: 105px;
    padding-bottom: 79px;

}

 
.more_links_date{
font-size: 12px;
line-height: 15px;

    
}



.more_links_description{
    font-size: 12px;
line-height: 18px;

}

}
@media screen and (max-width: 1023px) and (min-width:860px) {
    .service_list {
        padding-bottom: 80px;
        height: 450px;
    }
}
@media screen and (max-width: 767px) {
    

    .intro_cont {
        display: block;
        padding: 0 15px;
    }
    .intro {
        padding-bottom: 204px;
        background-size: cover;
    }
    .intro_text {
        padding-top: 204px;
    }
    
    .number_section {
        font-size: 16px;
    line-height: 20px;
    }
    .caption_name {
        font-size: 40px;
        line-height: 60px;
    }
    .all_caption{
        grid-template-columns: 25px 1fr;
        column-gap: 0;
        
    
    }
    
    .studio_caption {
        padding: 38px 0;
        margin-bottom: 36px;
        
    }
    .caption_name{
        padding-left: 11px;
    }
    .studio_content {
        
        grid-template-columns: none;
        margin-bottom: 36px;
    }
    
    .cont_part1 {
        font-size: 20px;
        line-height: 120.5%;
        margin-bottom: 36px;
    }
    .cont_part2 {
        font-size: 16px;
        line-height: 24px;
    }
    .studio_data {
        grid-template-columns: none;
        /*column-gap: 0px;*/
        padding-bottom: 0;
    }
    .studio_img{
        display: none;
    }
    .line1, .line2{
        
        column-gap: 70px;
    }
    .line2{
        margin-bottom: 82px;
    }

    .service_caption {
        padding: 38px 0;
        margin-bottom: 38px;
        border-bottom: 3px solid #000;
    }

    .service {
        padding-bottom: 32px;
    }
    .service_img img {
        display: none;
    }
    .service_content span {
        font-size: 12px;
        line-height: 18px;
        padding-right: 125px;
    }

    .service_content p{
        font-size: 20px;
        line-height: 133.5%;
    }
    .service_data {
        padding-bottom: 56px;
         
        grid-template-columns: none;

        
    }
    .item_number {
        padding-left: 15px;
    }
    .service_item_name {
        width: auto;
        margin: 0 -15px;
    }

    .service_img_item {
        padding: 18px 0 37px 0;
       max-width: 100%;
        display: block;
    position: inherit; 
    width: 100%;
    overflow: hidden;
    
  
    
    }
    .service_img_item img{
        margin: 0 -15px;

 
    }
    .service_list {
        padding-bottom: 0;
        height: auto;
        
    }
    .item_name {
    font-size: 25px;
    line-height: 111%;
    padding-left: 5px;
    color: #000;
    margin-bottom: 18px;
    }
    
    .skills_caption {
        padding: 70px 0 31px 0;
        margin-bottom: 32px;
        grid-template-columns: none;
    }
    .skills_caption_name {
        font-size: 40px;
        line-height: 60px;
        padding-left: 11px;
        
    }
    .skills_caption_text {
        
        max-width: auto;
        padding-top: 17px;
    }
    

    .next_skills {
    font-size: 14px;
    line-height: 21px;
    }
    .owl-dots{
        display: none;
    }
    
    .carousel-item-next {
        text-align: right;
        padding-right: 0;
        margin-bottom: 32px;
    }
    .work {
        padding-bottom: 58px;
    }
    .work_caption {
        padding: 57px 0 37px 0;
        margin-bottom: 50px;
        
    }
    
    .work_caption .caption_name {
        text-align: left;
      
    }
    .work_example {
        padding: 0 0 64px 0;
        border: none;
               
    }
    .work_example:last-child{
        padding: 0;
    }
    .work_link a {
       display: none;
    }
    .work_content{
    margin: 0 -15px;    
    }
    .work_content img {
        max-width: 100%;
        margin-left: 0;
    }
    
    .work_name {
        position: static;
        font-size: 25px;
        line-height: 37px;
        margin: 20px 0 4px 15px;
    }
    .work_description {
        position: static;
        padding-left: 15px;
      
    }
    .work_date {
        display: none;
    }
    .contact_form {
        padding-top: 55px;
    }
    .contact_form_caption {
        font-size: 60px;
        line-height: 118%;
        margin: 0 auto;
        
    text-indent:0px;
    }
   
    .form{
        grid-template-columns: none;

    }
    .write_to_us,.phone_to_us{
        margin-top: 18px;
    }
    .write_to_us p {
        border-color: #fff;
        width: 235px;
    }
    .phone_to_us p{
        width: 235px;
    }
    .write_to_us a{
        color: #fff;
    }
    .phone_to_us{
        margin-bottom: 70px;
    }
    /* portfolio page */




.grid_content{
    display: grid;
    grid-template-columns: 3fr 3fr;
    row-gap: 34px;
    margin-bottom: 62px;
}

.description{
    grid-row: 2/2;
    grid-column: 1/6; 
}

.view_project{
    
    
    row-gap: 11px;

}
.number{
   grid-column: 1/6; 
}
.view{
 grid-column: 1/6;   
 padding-bottom: 52px;
}
.view_img{
    grid-column: 1/6;
}

.more_caption{
    grid-column: 1/6;
    padding-bottom: 47px;

}
.more_links{

    grid-template-columns: 1fr;
    row-gap: 18px;
    align-items: left;
    grid-template-rows: none;

}

.more_links_img{
  display: none;
}

.more_links_description {
    
    text-align: left;

}


}
@media screen and (max-width: 320px) {
    .main_caption {
        font-size: 40px;
        line-height: 97%;
    }
    .studio_count p {
        font-size: 16px;
    }
    .item_name {
        font-size: 20px;
    }
    .next_skills {
        font-size: 12px;
        line-height: 21px;
    }
    .next_skills_line {
        margin: 0 12px;
        width: 50px;
    }
    .contact_form_caption {
            font-size: 40px;
            line-height: 111%;
    }
    .phone_to_us p, .write_to_us p{
        font-size: 18px;
    width: 180px;
    }
    .line1, .line2{
        column-gap: 30px;
    }

}
