body.lock {
    overflow: hidden;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &.open {
        opacity: 1;
        visibility: visible;
    }
    &.open .popup__content {
        opacity: 1;
    }

    // .popup__body

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }

    // .popup__content

    &__content {
        background-color: #eceaea;
        color: #000;
        max-width: 930px;

        padding: 80px;

        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        @media (max-width: 767px) {
            padding: 80px 40px 0 40px;
        }
    }

    // .popup__close

    &__close {
        position: absolute;
        right: 13px;
        top: 13px;
        color: #b0b0b0;
        text-decoration: none;
        font-weight: 500;
        @include adaptiv-font(30, 16, 39);
        line-height: 130%;
    }

    // .popup__title

    &__title {
        font-weight: bold;
        @include adaptiv-font(100, 30, 126);

        span {
            background: linear-gradient(180deg, #9453fb 0%, #bd93ff 54.69%, #384dbc 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    // .popup__links

    &__links {
        margin: 45px auto;
        display: flex;
        padding-bottom: 50px;

        justify-content: space-between;

        max-width: 335px;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #414141;

            @include adaptiv-font(25, 16, 37);
            &:hover {
                color: #000;
            }
        }
        button{
            text-transform: uppercase;
            color: #414141;
            border: none;

            @include adaptiv-font(25, 16, 37);
            &:hover {
                color: #000;
            }
        }
    }

}
